/* Variables */

:root {
    --dark-grey : rgb(40,40,40);
    --light-grey: rgb(100,100,100);
    --main-red :rgb(215,0,0);
}

/* Other rules */
body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1, h2, p {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20;
    padding-left: 5px;
}

.mainbutton {
    background-color: red;
    color: white;
    font-size: 20px;
    align-items: center;
    width: 125px;
    border-radius: 10px;
    border: none;
    height: 45px;
    margin-left: 5px;
}

.title {
    font-size: 80px;
    color: white;
}

.headercontainer {
    border-bottom: 2px solid var(--main-red);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}

.homecontainer  {
    width: 1200px;
    background: linear-gradient(black, rgb(40,40,40));
}

.collectioncontainer {
    width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collectionboard {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: flex-start;
}

.collectioncard {
    width: 300px;
    height: 350px;
    background: linear-gradient( var(--light-grey), black);
    margin-left: 5px;
    border-radius: 20px;
    margin-top: 10px;
}

.searchbar {
    width: 900px;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: rgb(40,40,40);
    padding-left: 50px;
}

.titlecontainer {
    display: flex;
}

.noframebutton {
    background-color: transparent;
    border: none;
    color: white;
}

.gamecard {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: linear-gradient(black, rgb(40,40,40));
}

.metascorebox {
    border: 1px solid rgb(50, 255, 50);
    border-radius: 5px;
    width: 32px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metascoretext {
    color: rgb(50, 255, 50);
    font-size: 12px;
    margin-top: 11px;
}

.gamecardlink {
    text-decoration: none;
}

.gamecard img {
    max-width: 100%;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.gamedescription {
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rightgamepage {
    width: 48%;
}

.leftgamepage {
    width: 48%;
}

.gamepage img {
    max-width: 100%;
    border-radius: 10px;
}

.gamebuttons {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: flex-start
}

.gamebutton {
    background-color: transparent;
    border-radius: 10px;
    border:  px solid white;
    color: white;
}

.gamedescriptiontext {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.gamecardsubtitle {
    color: var(--light-grey);
    margin-bottom: 5px;
}

.cardcontainer {
    width: 1244px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 150px;
}

.footercontainer {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.signupform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitbutton {
    width: 300px;
    height: 30px;
    border: none;
    background-color: var(--main-red);
    text-align: center;
    border-radius: 15px;
}

.signupcondition {
    width: 300px;
    font-size: 12px;
    color:var(--dark-grey);
}

.checkbox {
    width: 25px;
    height: 25px;
    border-width: 3px;
}

.signupbutton, .passwordbutton {
    height: 30px;
    margin: 20px 0;
    padding: 0 0 4px 0;
    text-align: left;
    text-decoration: none;
    border: 0;
    border-bottom: 1px solid lightgray;
    font-size: 16px;
    color: rgb(188, 188, 188);
    background-color: black;
}

.passwordbutton {
    width: 245px;
}

.signupbutton {
    width: 500px;
}

.passwordbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.signupmaincontainer {
    width: 1244px;
    height: 750px;
    background-color:var(--dark-grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.signupleftcontent {
    width: 50%;
    height: 100%;
    border-right: 1px solid var(--main-red);
    background: linear-gradient(black, var(--dark-grey));
}

.signuprightcontent {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--dark-grey), black);
}

.reviewform {
    width: 800px;
    height: 500px;
    background: linear-gradient(var(--dark-grey), black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    border-radius: 30px;
}

.reviewcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.publishbutton {
    margin-top: 100px;
}

.reviewsfooter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviewscontainer {
    width: 1050px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviewsbox {
    background-color: var(--dark-grey);
    height: 120px;
    border-radius: 10px;
    color: white;
    width: 70%;
    margin-bottom: 10px;
    padding-left: 10px;
}

.reviewboxfooter , .reviewstitle {
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.ribboncontainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
}

.ribboncard {
    width: 235px;
    height: 275px;
    background: linear-gradient(var(--light-grey), black);
    margin-left: 5px;
    color: white;
    border-radius: 10px;
}

.serielink {
    text-decoration: none;
    color: white;
}
